@model Panchayat.Models.RaiseFund

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center mt-5">
    <div class="col-md-4 shadow-lg p-4">
        <h4 class="text-center text-primary mt-4">Raise Fund</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Donate" class="form-control text-light mt-3 shadow bg-primary" />
            </div>
        </form>
        <button class="form-control bg-secondary mt-2 shadow">
            <a class="text-decoration-none text-light" asp-controller="Signups" asp-action="Index">Back</a>
        </button>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
